apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: coconut-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: coconut-api
  minReplicas: 2
  maxReplicas: 50 # Handle up to 1M users with enough cluster nodes
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
